#page {
    margin: 10px 10px;
}

span.post {
    width:100%;
    vertical-align: top;    
    display:inline-block;
}

span.post a {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    max-width:800px;
}

img.profile {
    float:left;
    width:50px;
    height:50px;
    margin:4px;
    border-radius:3px;
}


/* RESPONSIVE */

@media screen and (max-width: 600px) {
    span.post a {
         max-width:400px;
    }     
}

@media screen and (max-width: 400px) {
    span.post a {
         max-width:250px;
    }     
}
